<a href="https://colab.research.google.com/github/Alveenawaqar01/Python-Class-03-Assignment-/blob/main/Lesson_06_Lists%2C_Tuples_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
list = ["orange", "apple","grapes"]
print(list[0])
print(list[1])
list.append("kiwi")
print(list)

orange
apple
['orange', 'apple', 'grapes', 'kiwi']

**Tuple with Different Data Types**

In [9]:
person = ("ellie", 25, 5.9, True)

print("Name:", person[0])
print("Age:", person[1])
print("Height:", person[2])
print("Is Student?", person[3])

Name: ellie
Age: 25
Height: 5.9
Is Student? True

In [10]:
colors = ("red", "green", "blue")

for color in colors:
    print("Color:", color)

Color: red
Color: green
Color: blue

**Dictionaries in Python**

In [15]:
my_dict = {
   "title": "Python Basics",
    "author": "John",
    "price": 500
}
print(my_dict["title"])

500

In [20]:
car = {
    "brand": "Toyota",
    "model": "Corolla",
    "year": 2025
}

for key, value in car.items():
    print(key, "=>", value)

brand => Toyota
model => Corolla
year => 2025